/*regole generali*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    

  /*root con i colori da utilizzare*/  
}
:root {
    --white: #ffffff;
    --bg-bottone2-header: #23272A;
    --bg-grey:  #F6F6F6;
    --bg-footer: #23272A;
    --bg-nav: #255EE9;


}



/*inserimento colore di sfondo della nav*/
.brg1 {
    background-color: var(--bg-nav);
}

/*flex della nav*/
.container {
    max-width: 1200px;
    margin: 0 auto;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   padding: 15px;
   
}

/*modifica posizionamento lista nella nav*/
.container-lista1 {
    width: 40%;
}

/*flex della lista contenuta nella nav*/
.lista1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none; 
    
    
} 
/*creazione bottone nav + sfondo bianco*/
.container-bottone {
    background: var(--white);
    border-radius: 50px 50px;
    padding: 10px;
    text-align: center;    
}
  
/* annullamento decoration + colore testo bianco per alcuni bottoni*/
.white{
    text-decoration: none;
    color: var(--white);
}

/* annullamento decoration + colore testo azzurro  per alcuni bottoni*/
.blue {
    text-decoration: none;
    color: var(--bg-nav);

}

/* annullamento decoration + colore testo nero  per il secondo bottone dell'header*/
.black {
    text-decoration: none;
    color: var(--bg-footer);

}

/*colore sfondo sezioni 2 e 4*/
.grey {
    background-color: var(--bg-grey);
}

/*inserimento immagine di sfondo header*/
.bgr2 {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;

}

    
    

    
.container-bottoni {
   padding: 50px;
}

/* colore sfondo e creazione bottone 1 dell'header*/
.bottone1 {
    background-color: var(--white);
    border-radius: 50px 50px;
    padding: 5px 20px;
}
    

/* colore sfondo e creazione bottone 2 dell'header*/
.bottone2 {
    background-color: var(--bg-bottone2-header);
    border-radius: 50px 50px;
    padding: 8px 20px;
    margin-left: 30px;

}



/* modifica posizionamento titolo*/
 .titolo {
   padding: 5%;
   margin-top: 2rem;
 } 




/* ridimensionamento paragrafo*/
.paragrafo {
    padding-left: 20%;
    padding-right: 20%;
} 


/* flex , posizionamento e immagine di sfondo dell'Header*/
.container2 {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 35px;
    height: 540px;
     color: var(--white);
     
}


/*creazione container generale delle sezioni*/
.container-sezioni {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center
    

}

/* flex row della prima sezione del main*/
.section-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 100px;
}

/* flex reverse della seconda sezione del main*/
.section-reverse {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    margin-top: 80px;
}
.h-sec  {
    padding-top: 20%;
    padding-right: 30%;
    font-size: 240%;
    text-align: start;
 }

 .p-section {
    padding-top: 5%;
    padding-right: 28%;
    text-align: start;
 }


/*modifica posizionamento immagini delle prime 3 sezioni sezioni*/
 .immagine {
    width: 60%;
    padding-top: 70px;
}

/* modifica posizionamento del testo delle prime 3 sezioni*/
.testo {
    width: 40%;
    
}

.container3 {
     max-width: 1200px;
     margin: 0 auto;
     margin-top: 120px;
     margin-bottom: 150px;
    
}
.section4 {
   text-align: center;
   padding: 50px 50px 0 50px;
}

.h-sec4 {
    font-size: 45px;
}


/*modifica dimensione paragrafo sezione 4*/
.p-sec4 {
   padding-top: 30px;
   padding-right: 130px;
   padding-left: 130px;
}

/*creazione e posizionamento immagine centrale sezione 4*/
.img-sec4 {
    padding-top: 10px;
    width: 100%;
}


/*creazione e posizionamento immagine sezione 4 sotto h3*/
#ready {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 35%;
    margin-bottom: 30px;
    
    
    
}

/*creazione e modifiche generali bottone della sezione 4*/
#btn-mac {
    
    border-radius: 50px 50px;
    padding: 10px 40px;
    background-color: #255EE9;
    color: #ffffff;
    margin-top: 10px;
    text-decoration: none;

    
}

/*creazione container generale footer*/
.container-footer {
    max-height: 1200px;
    margin: 0 auto; 
    background-color: var(--bg-footer);
    color: var(--bg-nav)
    
    
    
    
}


/*flex della lista nel footer*/
.lista2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    margin-top: 50px;
    padding-left: 10px;
    align-content: center;
    
}

/*modifica child della lista ul*/
.child {
    margin: 30px;
    padding-left:  18px;
    flex-basis: 15%;
    text-align: center;
}



/*modifica dimensione titolo h2 della lista fel footer*/
#h2-list {
    font-size: 25px;
    
}
 

/*rimozione text decoration list style*/
ul {
    list-style: none;
}


/* modifica colore testo footer + rimozione text decoration*/
a {
    text-decoration: none;
    color: #ffffff;
}


/* modifica posizionamento logo footer*/

.logo-footer {
    margin-left: 2%;
}

/* creazione linea blue che divide il footer in 2 parti*/
.bordi {
    border-top:  1px solid var(--bg-nav);
 }


 /* modifica posizione e grandezza bottone del footer*/
.btn-footer {
    margin-right: 3%;
    background-color: var(--bg-nav);
    border-radius: 50px 50px;
    padding: 8px 20px;
}

/* flex del footer*/
.section-row-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;
    
 }